.book__order {
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: center;

    color: #fff;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 166px;
    border-radius: 20px;
    background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
}

.book__reserved {
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: center;

    color: #363636;
    background-color: #fff;
    border: 1px solid #BFC4C9;
    height: 40px;
    width: 166px;
    border-radius: 20px;
}

.book__reserved__other {
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: center;

    color: #A7A7A7;
    background-color: #F9F9FA;
    border: 1px solid #BFC4C9;
    height: 40px;
    width: 166px;
    border-radius: 20px;
}

.book__type__list {
    margin: 0;
    width: 174px;
    height: 40px;
}

@media only screen and (max-width: 320px) {  
    .book__order {
        width: 256px;
    }

    .book__order, .book__booked, .book__reserved {
        margin-right: 8px;
        margin-left: 8px;
        width: 256px;
    }

    .book__type__list {
        margin: 0;
        width: 186px;
        margin-top: 16px;
    }
}