.swiper__container {
    margin-bottom: 20px;
    height: 594px;
    width: 445px;
    border-radius: 3px;
}

.swiper__thumbs__container {
    width: 223px;
    height: 86px;
}

.scroll__img {
    cursor: pointer;
    width: 65px !important; 
    height: 86px;
    border: 1px solid #BFC4C9;
    border-radius: 3px !important;
}

.swiper__img {
    border-radius: 10px;
    border: 1px solid #A7A7A7;
}   

.swiper-slide-thumb-active {
    border: 1px solid rgba(248, 54, 0, 1);
}

.swiper-pagination-bullet-active {
    background: #363636 !important;
}

@media only screen and (max-width: 768px) {
    .swiper__container {
        margin-bottom: 16px;
        height: 232px;
        width: 136px;
    }

    .swiper-pagination {
        z-index: 1000;
    }

    .swiper-pagination-bullet {
        z-index: 1000;
    }

    .swiper__thumbs__container {
        display: none !important;
    }

    .swiper-pagination-bullet-active {
        background: #363636 !important;
    }
}

@media only screen and (max-width: 320px) {

    .swiper__container {
        margin-bottom: 16px;
        height: 300px;
        width: 188px;
    }

    .swiper__thumbs__container {
        display: none !important;
    }


}